:root {
    --dev-pg-card-border: #ebe8e8;
    --dev-pg-text-white-one: white;
    --dev-pg-text-white-two: rgb(60 59 59);
    --dev-pg-text-white-five: rgb(199 195 195);
    --dev-pg-text-hover: rgb(229, 228, 247);
    --dev-pg-text-highlight: #0347b1;
}

.dev_pg_header_pagination_container {
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid var(--dev-pg-card-border);
}

.dev_pg_header_pagination_icon {
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    border-right: 1px solid var(--dev-pg-card-border);
    transition: 0.4s all ease-in-out;
}

.dev_pg_header_pagination_icon:hover {
    background-color: var(--dev-pg-text-hover);
}

.dev_pg_header_pagination_icon.disabled,
.dev_pg_header_pagination_icon.disabled .icon {
    cursor: none;
    color: var(--dev-pg-text-white-five);
    pointer-events: none;
}

.dev_pg_header_pagination_icon .icon {
    color: var(--dev-pg-text-highlight);
    width: 16px;
    height: 16px;
    transition: 0.4s all ease-in-out;
}

.dev_pg_header_pagination_icon:hover .icon {
    color: var(--dev-pg-text-highlight);
}

.dev_pg_header_pagination_number {
    padding: 5px 10px 5px 10px;
    border-right: 1px solid var(--dev-pg-card-border);
    color: var(--dev-pg-text-white-two);
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.dev_pg_header_pagination_number.active {
    color: var(--dev-pg-text-white-one);
    background-color: var(--dev-pg-text-highlight);
}

.dev_pg_header_pagination_number.active:hover {
    color: var(--dev-pg-text-white-one);
    background-color: var(--dev-pg-text-highlight);
}


.dev_pg_header_pagination_number:hover {
    color: var(--dev-pg-text-highlight);
    background-color: var(--dev-pg-text-hover);
}
